body{
  background-color: white;
  color: gray;
  user-select: none;
}
.navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: greenyellow;
}

.navbar a{
  font-size: 20px;
  text-decoration: none;
  margin-right: 40px;
  background-color: black;
  padding: 5px 20px;
  color: yellow;
  cursor: pointer;
  transition: 0.2s;
}
.navbar a:hover, .btn:hover{
  transform: scale(1.05);
}
.createUser{
  width: 100%;
  display: flex;
  justify-content: center;
}
.createUserInputs{
  padding: 20px;
}
.createUserInputs input{
  width: 98%;
}
.createUserInputs>div{
  margin-bottom: 5x;
}

.btn{
  border: 5px solid black;
  font-size: 30px;
  background-color: #8b5252;
  padding: 5px 20px;
  transition: 0.2s;
  cursor: pointer;
}
.showUserCard{
  display: flex;
  margin-top: 5px;
  background-color: #4e4e4e;
  padding:15px 0 ;
}
.w50{
  width: 38%;
  margin-left: 2%;
}
.w25{
  width: 20%;
}
.updBtns{
  display: flex;
  align-items: flex-end;
  text-align: center;
  width: 50%;
  margin-right: 20px;
}
.updateUserCont{
  text-align: center;
}
.updateUser{
  width: 25%;
  margin: auto;
}
.updateUser input{
  width: 100%;
  font-size: 30px;
}


